.barra{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fullfondo {
  background-color: yellow;
}
.home{
    color: white;
    text-align: center;
    background-image: url("imagenes/Tiendaderopa.webp");
    background-size: cover;
    width: 100%;
    height: 400px;
  border-radius: 25px;
}

.selec {
    justify-content: center;
    text-align: center;
    background-color: yellow;
}

.h3{
    text-align: center;
    background-color: yellow;
    width: 100%;

}
#demo {
  width: 100%;
}
.carrusel-img {
  width: 100%;
  height: 550px;       
  object-fit: cover;
  object-position: center top; 
}
.rounded-circle {
  width: 100px;
  height: auto;
}

.card-text-ofertas{
  text-decoration: line-through;
  color: black;
}

.card-img-top{
  transition: transform 0.3s ease;
}
